<section class="py-5">
  <div class="text-center">
    <h1 class="display-3">
    Thank You for the order
  </h1>
  <i>"Something very magical can happen when you Read a Good Book" - J.K.Rowling</i>
  <p class="lead">Your book will be delivered soon</p>

  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
  </div>
</section>